<!DOCTYPE html>
<html lang="en"{% if htmlClass is defined %} class="{{ htmlClass }}"{% endif %}>
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="{% if title is defined %}{{ title }} | {% endif %}CMS Bootstrap"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{app.request.uri}}"/>
        {# <meta property="og:image" content="{{app.request.uri}}/img/fb-og-logo.png"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="300">
        <meta property="og:image:height" content="300">
        <meta property="og:description" content=""/> #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>{% if title is defined %}{{ title }} | {% endif %}CMS Bootstrap</title>
        <link href="{{ asset('/css/screen.css?') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.mi§n.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        <script src="{{ asset('/js/min/javascript.min.js') }}"></script>
        {% block javascript %}{% endblock %}
        {% if app.environment == 'prod' %}
            {# Google Analytics etc here #}
        {% endif %}
    </body>
</html>
